<!DOCTYPE HTML>
<html>
<head>
    <title>知搜</title>
        <style type="text/css">
p.midjpg{position:absolute;width:100%;text-align:center;top:110px;}
p.midtxt{position:absolute;width:100%;text-align:center;top:300px;}
    </style>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"
          content="Flat Search Box Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <!--Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <!--Google Fonts-->
</head>
<body background="{{ url_for('static', filename='bk.jpg')}}" style=" background-repeat:no-repeat;background-size:cover;">

<!--search start here-->
<div class="container">
    <p class="midjpg">
    <img src="{{ url_for('static', filename='logo2.gif')}}" alt="logo" width="282" height="172" >
    </p>
<!--div class="search"-->
    <i> </i>
    <div class="s-bar">
        <form method="post">
              <p class="midtxt">
            <input type="text"
                   style="height: 40px; width: 320px;border-radius:4px"
                   name="query">
            <input type="submit"
                   style="height: 40px; width: 120px;border-radius:4px"
                   value="搜索一下"/>
             </p>
        </form>
    </div>

</div>
</body>
</html>